body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#tasksTable {
    border-collapse: collapse;
}

#tasksTable td {
    border: 2px solid gray;
    padding: 5px ;
}

#tasksTable th {
    border: 3px solid grey ;
    background-color: rgb(200,220,180);
    padding: 15px ;
}

